*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
}

.bg {
  background: #f8f8f8;
}

.bg1 {
  background: #172137;
}

@media (min-width: 1200px) {
  .section {
    width: 70%;
    margin: auto;
  }
}
/* FrontLayout ----------------------------------------------------------------------------------------------------- */
#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0;
}
#header h1 a {
  display: block;
  background: url("../../assets/LOGO_S.png");
  width: 200px;
  height: 41px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
#header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
}
#header .menu .small-menu {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .menu .small-menu h2 {
  font-size: 1.2rem;
  color: #959595 !important;
  margin-right: 0.5rem;
}
#header .menu .small-menu .hamburger {
  font-size: 1.5rem;
  color: #959595 !important;
}
#header .menu .small-menu .hamburger:hover {
  color: #64C1C6 !important;
}
#header .menu .big-menu {
  display: none;
}
#header .menu .log_res_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.n-dropdown-menu .n-dropdown-option a {
  color: #959595;
}
.n-dropdown-menu .n-dropdown-option a:hover {
  color: #64C1C6;
  border-bottom: 0.1rem solid #64C1C6;
}

.n-card__content .n-form .n-row .n-col .res_btn {
  background-color: #64C1C6;
  color: #fff;
  border: none;
  font-size: 1rem;
  border: 1px solid #64C1C6;
  border-radius: 5%;
  padding: 0.5rem 1rem;
}
.n-card__content .n-form .n-row .n-col .res_btn:hover {
  background-color: rgb(125, 203, 207);
  cursor: pointer;
}

.n-card__footer a {
  font-size: 1rem;
  color: #64C1C6;
}

.n-popover__content ul {
  list-style: none;
}
.n-popover__content ul li {
  margin-bottom: 0.5rem;
}
.n-popover__content ul li a {
  text-decoration: none;
  font-size: 1rem;
  display: block;
  width: 100%;
  color: #959595;
  padding-top: 0.5rem;
}
.n-popover__content ul li a:hover {
  border-bottom: 0.1rem solid #64C1C6;
  color: #64C1C6;
  background-color: rgb(243, 243, 245);
}
.n-popover__content ul li:last-child {
  text-align: center;
  margin-top: 1rem;
}

#footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
}
#footer1 .now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#footer1 .now h2 {
  font-size: 2.2rem;
  color: #595959;
  position: relative;
  margin-bottom: 1rem;
}
#footer1 .now h2::after {
  content: "";
  width: 3rem;
  height: 0.1rem;
  background-color: #595959;
  position: absolute;
  bottom: -0.5rem;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
#footer1 .now h3 {
  font-size: 1.3rem;
  color: #959595;
  margin-bottom: 1rem;
}
#footer1 .now a {
  text-decoration: none;
  color: #fff;
  display: block;
}

#footer2 .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  width: 100%;
}
#footer2 .contact .tel {
  line-height: 2em;
  color: #959595;
  font-size: 1rem;
}
#footer2 .contact .tel i {
  margin-right: 0.2rem;
  color: #595959;
}

.n-icon {
  margin-right: 0.2rem;
}

#footer3 .copyright {
  text-align: center;
  color: #fff;
  padding: 1rem 0;
  font-size: 1rem;
}

@media (min-width: 768px) {
  #footer2 .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #footer2 .contact .tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 50%;
  }
  #footer2 .contact .f-logo {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  #header .menu {
    width: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #header .menu .small-menu {
    display: none;
  }
  #header .menu .big-menu {
    display: block;
  }
  #header .menu .big-menu .n-menu a {
    color: #959595;
  }
  #header .menu .big-menu .n-menu a:hover {
    color: #64C1C6;
    border-bottom: 0.3rem solid #64C1C6;
  }
  #header .menu .log_res_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #footer2 .contact {
    width: 80%;
  }
  #footer2 .contact .tel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #footer2 .contact .tel p {
    margin-right: 1rem;
  }
}
/* ContactView ----------------------------------------------------------------------------------------------------- */
#contact_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}
#contact_header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#contact_header .title h2 {
  font-size: 2.2rem;
  color: #595959;
  position: relative;
  margin-bottom: 1rem;
}
#contact_header .title h2::after {
  content: "";
  width: 3rem;
  height: 0.1rem;
  background-color: #595959;
  position: absolute;
  bottom: -0.5rem;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
#contact_header .title h3 {
  font-size: 1.3rem;
  color: #959595;
  margin-bottom: 1rem;
}

#contact_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}
#contact_content .map {
  width: 100%;
}
#contact_content .map iframe {
  max-width: 100%;
}
#contact_content .contact_row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}
#contact_content .contact_row .contact_col {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
#contact_content .contact_row .contact_col .n-icon-wrapper i {
  margin: auto;
}
#contact_content .contact_row .contact_col p {
  font-size: 1rem;
  color: #959595;
}
#contact_content .contact_row .contact_col a {
  font-size: 1rem;
  color: #959595;
  text-decoration: none;
  display: block;
}

@media (min-width: 768px) {
  #contact_content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact_content .map {
    width: 50%;
    margin-right: 2rem;
  }
  #contact_content .contact_row {
    width: 50%;
  }
  #contact_content .contact_row .contact_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact_content .contact_row .contact_col .n-icon-wrapper {
    margin-right: 1rem;
  }
  #contact_content .contact_row .contact_col p {
    font-size: 1.2rem;
  }
}
/* TeamView ----------------------------------------------------------------------------------------------------- */
#team_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}
#team_header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#team_header .title h2 {
  font-size: 2.2rem;
  color: #595959;
  position: relative;
  margin-bottom: 1rem;
}
#team_header .title h2::after {
  content: "";
  width: 3rem;
  height: 0.1rem;
  background-color: #595959;
  position: absolute;
  bottom: -0.5rem;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
#team_header .title h3 {
  font-size: 1.3rem;
  color: #959595;
  margin-bottom: 1rem;
}

#team_content .team_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}
#team_content .team_row .n-card {
  width: 80%;
  margin-bottom: 2rem;
  -webkit-filter: drop-shadow(1px 1px 7px rgba(149, 149, 149, 0.3));
          filter: drop-shadow(1px 1px 7px rgba(149, 149, 149, 0.3));
}
#team_content .team_row .n-card h2 {
  font-size: 2.2rem;
  color: #595959;
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
#team_content .team_row .n-card h2::after {
  content: "";
  width: 3rem;
  height: 0.1rem;
  background-color: #595959;
  position: absolute;
  bottom: -0.1rem;
  right: 93%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
#team_content .team_row .n-card p {
  font-size: 1rem;
  white-space: pre;
  line-height: 2em;
}

@media (min-width: 768px) {
  #team_content .team_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #team_content .team_row .n-card {
    width: 40%;
    margin-top: 0;
  }
  #team_content .team_row .n-card h2::after {
    right: 92%;
  }
}
@media (min-width: 1200px) {
  #team_content .team_row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #team_content .team_row .n-card {
    width: 30%;
    margin: 0 1rem;
  }
  #team_content .team_row .n-card h2::after {
    right: 94%;
  }
}
/* NotFound ----------------------------------------------------------------------------------------------------- */
#notFound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}
#notFound a {
  text-decoration: none;
}
#notFound a button {
  color: #fff;
  width: 8rem;
  height: 3rem;
  border: none;
  background-color: #64C1C6;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#notFound a button:hover {
  background: rgb(125, 203, 207);
  cursor: pointer;
}

/* AdminLayout -------------------------------------------------------------------------------------------- */
#adminContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#adminContent .adminRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  float: right;
}
#adminContent .adminRight .avatarList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 3rem;
}
#adminContent .adminRight .avatarList .avatarText {
  margin-right: 1rem;
}
#adminContent .adminRight .adminWrap .adminSection {
  width: 90%;
  margin: auto;
  margin-top: 3rem;
}
#adminContent .adminMiddle {
  width: 15%;
}
#adminContent .adminLeft {
  background-color: #64C1C6;
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
#adminContent .adminLeft .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}
#adminContent .adminLeft .logo h1 a {
  display: block;
  background: url("../../assets/LOGO_S.png");
  width: 200px;
  height: 41px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
#adminContent .n-menu .n-menu-item-content:not(.n-menu-item-content--disabled).n-menu-item-content--selected:hover::before {
  background-color: rgb(92, 157, 161);
}
#adminContent .n-menu .n-menu-item-content:not(.n-menu-item-content--disabled).n-menu-item-content--selected:hover .n-menu-item-content-header a {
  color: #fff;
}
#adminContent .n-menu {
  text-align: center;
}
#adminContent .n-menu .n-menu-item-content {
  margin-top: 2rem;
}
#adminContent .n-menu .n-menu-item-content .n-menu-item-content-header a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#adminContent .n-menu .n-menu-item-content:not(.n-menu-item-content--disabled):hover .n-menu-item-content-header a {
  color: #fff;
}
#adminContent .n-menu .n-menu-item-content:not(.n-menu-item-content--disabled):hover::before {
  background-color: rgb(92, 157, 161);
  cursor: pointer;
}

/* AdminDoctorSettingView ----------------------------------------------------------------------------------------------------- */
#DoctorSetting h1 {
  font-size: 2rem;
  text-align: left;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #595959;
}
#DoctorSetting h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: #595959;
  top: 90%;
  left: 0;
}
#DoctorSetting .editorButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1rem;
}
#DoctorSetting .editorButton a {
  text-align: none;
}
#DoctorSetting .editorButton a .create_btn {
  background-color: #64C1C6;
  color: #fff;
  border: none;
  font-size: 1rem;
  border: 1px solid #64C1C6;
  border-radius: 5%;
  padding: 0.5rem 1rem;
}
#DoctorSetting .editorButton a .create_btn:hover {
  background-color: rgb(125, 203, 207);
  cursor: pointer;
}
#DoctorSetting .bg-del {
  background-color: #C66A64;
  color: #fff;
}
#DoctorSetting .bg-del:hover {
  background-color: #EE837C;
}
#DoctorSetting .bg-editor {
  background-color: #64C1C6;
  color: #fff;
}
#DoctorSetting .bg-editor:hover {
  background-color: rgb(125, 203, 207);
}
#DoctorSetting .n-pagination .n-pagination-item:not(.n-pagination-item--disabled).n-pagination-item--active {
  color: #64C1C6;
  border: 1px solid #64C1C6;
}

.saveBtnDOC {
  background-color: #64C1C6;
  color: #fff;
  border: none;
  font-size: 1rem;
  border: 1px solid #64C1C6;
  border-radius: 5%;
  padding: 0.5rem 1rem;
}
.saveBtnDOC:hover {
  background-color: rgb(125, 203, 207);
  cursor: pointer;
}

/* AdminDoctorEditorSetting ------------------------------------------------------------------------------ */
#doctorEditor h1 {
  font-size: 2rem;
  text-align: left;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #595959;
}
#doctorEditor h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: #595959;
  top: 90%;
  left: 0;
}
#doctorEditor .doctorForm {
  margin: auto;
}
#doctorEditor .doctorForm .submitButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#doctorEditor .doctorForm .submitButton a {
  text-decoration: none;
}
#doctorEditor .doctorForm .submitButton a button {
  background-color: #64C1C6;
  color: #fff;
  border: none;
  font-size: 1rem;
  border: 1px solid #64C1C6;
  border-radius: 5%;
  padding: 0.5rem 1rem;
}
#doctorEditor .doctorForm .submitButton a button:hover {
  background-color: rgb(85, 138, 141);
  color: #fff;
  cursor: pointer;
}

/* AdminArticleSettingView ----------------------------------------------------------------------------------------------------- */
#ArticleSetting h1 {
  font-size: 2rem;
  text-align: left;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #595959;
}
#ArticleSetting h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: #595959;
  top: 90%;
  left: 0;
}
#ArticleSetting .editorButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1rem;
}
#ArticleSetting .editorButton a {
  text-align: none;
}
#ArticleSetting .editorButton a .create_btn {
  background-color: #64C1C6;
  color: #fff;
  border: none;
  font-size: 1rem;
  border: 1px solid #64C1C6;
  border-radius: 5%;
  padding: 0.5rem 1rem;
}
#ArticleSetting .editorButton a .create_btn:hover {
  background-color: rgb(125, 203, 207);
  cursor: pointer;
}
#ArticleSetting .bg-del {
  background-color: #C66A64;
  color: #fff;
}
#ArticleSetting .bg-del:hover {
  background-color: #EE837C;
}
#ArticleSetting .bg-editor {
  background-color: #64C1C6;
  color: #fff;
}
#ArticleSetting .bg-editor:hover {
  background-color: rgb(125, 203, 207);
}
#ArticleSetting .n-pagination .n-pagination-item:not(.n-pagination-item--disabled).n-pagination-item--active {
  color: #64C1C6;
  border: 1px solid #64C1C6;
}

.saveBtnART {
  background-color: #64C1C6;
  color: #fff;
  border: none;
  font-size: 1rem;
  border: 1px solid #64C1C6;
  border-radius: 5%;
  padding: 0.5rem 1rem;
}
.saveBtnART:hover {
  background-color: rgb(125, 203, 207);
  cursor: pointer;
}

/* AdminArticleEditorSettingView ------------------------------------------------------------------------------ */
#ArticleEditor h1 {
  font-size: 2rem;
  text-align: left;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #595959;
}
#ArticleEditor h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: #595959;
  top: 90%;
  left: 0;
}
#ArticleEditor .articleForm {
  margin: auto;
}
#ArticleEditor .articleForm .submitButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#ArticleEditor .articleForm .submitButton a {
  text-decoration: none;
}
#ArticleEditor .articleForm .submitButton a button {
  background-color: #64C1C6;
  color: #fff;
  border: none;
  font-size: 1rem;
  border: 1px solid #64C1C6;
  border-radius: 5%;
  padding: 0.5rem 1rem;
}
#ArticleEditor .articleForm .submitButton a button:hover {
  background-color: rgb(85, 138, 141);
  color: #fff;
  cursor: pointer;
}

/* AdminHomeSettingView ----------------------------------------------------------------------------------------------------- */
#HomeSetting h1 {
  font-size: 2rem;
  text-align: left;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #595959;
}
#HomeSetting h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: #595959;
  top: 90%;
  left: 0;
}
#HomeSetting h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#HomeSetting .editorButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1rem;
}
#HomeSetting .editorButton a {
  text-align: none;
}
#HomeSetting .editorButton a .create_btn {
  background-color: #64C1C6;
  color: #fff;
  border: none;
  font-size: 1rem;
  border: 1px solid #64C1C6;
  border-radius: 5%;
  padding: 0.5rem 1rem;
}
#HomeSetting .editorButton a .create_btn:hover {
  background-color: rgb(125, 203, 207);
  cursor: pointer;
}
#HomeSetting .bg-del {
  background-color: #C66A64;
  color: #fff;
}
#HomeSetting .bg-del:hover {
  background-color: #EE837C;
}
#HomeSetting .bg-editor {
  background-color: #64C1C6;
  color: #fff;
}
#HomeSetting .bg-editor:hover {
  background-color: rgb(125, 203, 207);
}
#HomeSetting .n-pagination .n-pagination-item:not(.n-pagination-item--disabled).n-pagination-item--active {
  color: #64C1C6;
  border: 1px solid #64C1C6;
}

.saveBtnBanner {
  background-color: #64C1C6;
  color: #fff;
  border: none;
  font-size: 1rem;
  border: 1px solid #64C1C6;
  border-radius: 5%;
  padding: 0.5rem 1rem;
}
.saveBtnBanner:hover {
  background-color: rgb(125, 203, 207);
  cursor: pointer;
}

/* _MemberLayout -------------------------------------------------------------------------------------------- */
#memberContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}
#memberContent .memberRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#memberContent .memberRight .avatarList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1rem;
}
#memberContent .memberRight .avatarList .avatarText {
  margin-right: 1rem;
}
#memberContent .memberRight .memberWrap {
  margin-top: 3rem;
}
#memberContent .memberRight .memberWrap .memberSection {
  width: 90%;
  margin: auto;
}
#memberContent .memberLeft .n-layout-sider {
  background-color: #64C1C6;
}
#memberContent .memberLeft .n-layout-sider.n-layout-sider--bordered .n-layout-sider__border {
  background-color: #64C1C6;
}
#memberContent .memberLeft .n-menu .n-menu-item-content:not(.n-menu-item-content--disabled).n-menu-item-content--selected:hover::before {
  background-color: rgb(92, 157, 161);
}
#memberContent .memberLeft .n-menu .n-menu-item-content:not(.n-menu-item-content--disabled).n-menu-item-content--selected:hover .n-menu-item-content-header a {
  color: #fff;
}
#memberContent .memberLeft .n-menu {
  margin-top: 1rem;
  padding: 2rem 0;
  text-align: center;
}
#memberContent .memberLeft .n-menu .n-menu-item-content {
  margin-top: 2rem;
}
#memberContent .memberLeft .n-menu .n-menu-item-content .n-menu-item-content__icon {
  color: #fff;
}
#memberContent .memberLeft .n-menu .n-menu-item-content .n-menu-item-content-header {
  text-align: left;
}
#memberContent .memberLeft .n-menu .n-menu-item-content .n-menu-item-content-header a {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#memberContent .memberLeft .n-menu .n-menu-item-content:not(.n-menu-item-content--disabled):hover .n-menu-item-content-header a {
  color: #fff;
}
#memberContent .memberLeft .n-menu .n-menu-item-content:not(.n-menu-item-content--disabled):hover::before {
  background-color: rgb(92, 157, 161);
  cursor: pointer;
}

/* MemberMemberSettingView ------------------------------------------------------------------------------ */
#memberMemberContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #595959;
}
#memberMemberContent h1 {
  font-size: 2rem;
  text-align: left;
  width: 100%;
  position: relative;
}
#memberMemberContent h1::after {
  content: "";
  position: absolute;
  width: 20rem;
  height: 0.1rem;
  background-color: #172137;
  top: 100%;
  left: 0;
}
#memberMemberContent .memberList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}
#memberMemberContent .memberList .avatar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#memberMemberContent .memberList .form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}
#memberMemberContent .memberList .form .formContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
#memberMemberContent .memberList .form .formContent p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #959595;
  text-align: left;
}

@media (min-width: 768px) {
  #memberMemberContent h1::after {
    content: "";
    position: absolute;
    width: 50rem;
    height: 0.1rem;
    background-color: #172137;
    top: 100%;
    left: 0;
  }
  #memberMemberContent .memberList .form .formContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #memberMemberContent .memberList .form .formContent p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #959595;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #memberMemberContent h1::after {
    content: "";
    position: absolute;
    width: 90rem;
    height: 0.1rem;
    background-color: #172137;
    top: 100%;
    left: 0;
  }
}
/* HomeView ----------------------------------------------------------------------------------------------------- */
#home_header .carousel-img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

#home_content {
  padding: 4rem 0;
}
#home_content .servers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#home_content .servers .serversTitle h2 {
  font-size: 2.2rem;
  position: relative;
  color: #595959;
  margin-bottom: 1rem;
}
#home_content .servers .serversTitle h2::after {
  content: "";
  width: 3rem;
  height: 0.1rem;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #595959;
}
#home_content .servers .servers_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#home_content .servers .servers_row .servers_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-top: 1rem;
}
#home_content .servers .servers_row .servers_card img {
  width: 50%;
  -webkit-filter: drop-shadow(1px 1px 7px rgba(149, 149, 149, 0.3));
          filter: drop-shadow(1px 1px 7px rgba(149, 149, 149, 0.3));
}
#home_content .servers .servers_row .servers_card h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  letter-spacing: 0.3em;
  color: #595959;
}
#home_content .servers .servers_row .servers_card p {
  font-size: 1rem;
  margin-top: 0.5rem;
  letter-spacing: 0.1em;
  color: #959595;
  width: 80%;
  text-align: center;
}

#home_timetable .timetable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
#home_timetable .timetable h2 {
  font-size: 2.2rem;
  position: relative;
  margin-bottom: 2rem;
  color: #595959;
}
#home_timetable .timetable h2::after {
  content: "";
  width: 3rem;
  height: 0.1rem;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #595959;
}
#home_timetable .timetable .timetable_img {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home_team {
  background: url("../../assets/home/team01.png") no-repeat center/cover;
  background-attachment: fixed;
  padding: 3rem 0;
}
#home_team .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
#home_team .team h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #fff;
  position: relative;
}
#home_team .team h2::after {
  content: "";
  width: 3rem;
  height: 0.1rem;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
}
#home_team .team h3 {
  font-size: 1.5rem;
  color: #fff;
  width: 80%;
  text-align: center;
}
#home_team .team .n-button {
  margin-top: 2rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}
#home_team .team .n-button .n-button__content {
  font-weight: bold;
  font-size: 1.5rem;
}

#home_article .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}
#home_article .article .article_more_btn {
  margin-top: 2rem;
}
#home_article .article .article_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#home_article .article .article_title h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: #595959;
  position: relative;
}
#home_article .article .article_title h2::after {
  content: "";
  width: 3rem;
  height: 0.1rem;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #595959;
}
#home_article .article .article_title h3 {
  font-size: 1.3rem;
  color: #959595;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}
#home_article .article .article_card {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  width: 80%;
}
#home_article .article .article_card .n-card {
  height: 100%;
  -webkit-filter: drop-shadow(1px 1px 7px rgba(149, 149, 149, 0.3));
          filter: drop-shadow(1px 1px 7px rgba(149, 149, 149, 0.3));
}
#home_article .article .article_card .n-card h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #595959;
}
#home_article .article .article_card .n-card .n-ellipsis {
  font-size: 1rem;
  color: #959595;
  height: 2rem;
  display: block;
  margin-top: 1rem;
}
#home_article .article .article_card .n-card .article_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1rem;
}
#home_article .article .article_card .n-card .article_btn a {
  text-decoration: none;
}

@media (min-width: 768px) {
  #home_header .carousel-img {
    height: 25rem;
  }
  #home_content .servers .servers_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #home_content .servers .servers_row .servers_card {
    width: 40%;
  }
  #home_article .article .article_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    width: 80%;
  }
}
@media (min-width: 1200px) {
  #home_header .carousel-img {
    height: 45rem;
  }
  #home_content .servers .servers_row .servers_card {
    width: 25%;
  }
}
/* InformationView -------------------------------------------------------------------------------------------- */
#about_header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}
#about_header .title h2 {
  font-size: 2.2rem;
  color: #595959;
  position: relative;
  margin-bottom: 1rem;
}
#about_header .title h2::after {
  content: "";
  width: 3rem;
  height: 0.1rem;
  background-color: #595959;
  position: absolute;
  bottom: -0.5rem;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
#about_header .title h3 {
  font-size: 1.3rem;
  color: #959595;
  margin-bottom: 1rem;
}

#about_content .about_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}
#about_content .about_wrap .about_card {
  width: 80%;
}
#about_content .about_wrap .about_card h2 {
  font-size: 1.5rem;
  color: #595959;
  position: relative;
  margin-bottom: 1rem;
}
#about_content .about_wrap .about_card h2::after {
  content: "";
  width: 3rem;
  height: 0.1rem;
  background-color: #595959;
  position: absolute;
  bottom: -0.3rem;
  left: -4%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
#about_content .about_wrap .about_card p {
  font-size: 1rem;
  line-height: 2rem;
  color: #959595;
}

#about_timetable .timetable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
  padding: 2rem 0;
}
#about_timetable .timetable h2 {
  font-size: 2.2rem;
  position: relative;
  margin-bottom: 2rem;
  color: #595959;
}
#about_timetable .timetable h2::after {
  content: "";
  width: 3rem;
  height: 0.1rem;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #595959;
}
#about_timetable .timetable .timetable_img {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about_pic .pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem 0;
}
#about_pic .pic h2 {
  font-size: 2.2rem;
  position: relative;
  margin-bottom: 2rem;
  color: #595959;
}
#about_pic .pic h2::after {
  content: "";
  width: 3rem;
  height: 0.1rem;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #595959;
}

@media (min-width: 768px) {
  #about_content .about_wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #about_content .about_wrap .about_card {
    width: 40%;
  }
  #about_content .about_wrap .about_card h2::after {
    left: -5%;
  }
  #about_content .about_wrap .about_card p {
    font-size: 1.2rem;
  }
}
/* _MemberReseverView ------------------------------------------------------------------------------ */
#memberResever h1 {
  font-size: 2rem;
  text-align: left;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #595959;
}
#memberResever h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: #595959;
  top: 90%;
  left: 0;
}
#memberResever .reseverForm {
  margin: auto;
}
#memberResever .reseverForm .submitButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#memberResever .reseverForm .submitButton a {
  text-decoration: none;
}
#memberResever .reseverForm .submitButton a button {
  background-color: #64C1C6;
  color: #fff;
  border: none;
  font-size: 1rem;
  border: 1px solid #64C1C6;
  border-radius: 5%;
  padding: 0.5rem 1rem;
}
#memberResever .reseverForm .submitButton a button:hover {
  background-color: rgb(85, 138, 141);
  color: #fff;
  cursor: pointer;
}

/* _ArticleView ------------------------------------------------------------------------------ */
#articleHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#articleHeader .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#articleHeader .title h2 {
  font-size: 2.2rem;
  color: #595959;
  position: relative;
  margin-bottom: 1rem;
}
#articleHeader .title h2::after {
  content: "";
  width: 3rem;
  height: 0.1rem;
  background-color: #595959;
  position: absolute;
  bottom: -0.5rem;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
#articleHeader .title h3 {
  font-size: 1.3rem;
  color: #959595;
  margin-bottom: 1rem;
}

#articleContent .article_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}
#articleContent .article_card .n-card {
  width: 80%;
  margin-bottom: 2rem;
  border-bottom: 1px solid #959595;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
#articleContent .article_card .n-card .n-card__content {
  padding: 0;
}
#articleContent .article_card .n-card .n-card__content h2 {
  margin: 1rem 0;
  font-size: 1.3rem;
  color: #595959;
}
#articleContent .article_card .n-card .n-card__content h3 {
  color: #959595;
  margin-bottom: 1rem;
}
#articleContent .article_card .n-card .n-card__content p {
  color: #959595;
  font-size: 1rem;
}
#articleContent .article_card .n-card .n-card__content .article_btn {
  margin: 1rem 0;
}
#articleContent .article_card .n-card .n-card__content .article_btn a {
  text-decoration: none;
}

@media (min-width: 768px) {
  #articleContent .article_card .n-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #articleContent .article_card .n-card:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #articleContent .article_card .n-card .n-card-cover {
    width: 50%;
  }
  #articleContent .article_card .n-card .n-card__content {
    width: 50%;
    margin: 0 1rem;
  }
  #articleContent .article_card .n-card .n-card__content h2 {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  #articleContent .article_card .n-card {
    width: 100%;
  }
}
/* AdminLayout -------------------------------------------------------------------------------------------- */
#articlelook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}
#articlelook .articleWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}
#articlelook .articleWrap .articlePic {
  margin: 1rem 0;
}
#articlelook .articleWrap .articleTitle h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #595959;
}
#articlelook .articleWrap .articleTitle p {
  font-size: 1rem;
  color: #959595;
}
#articlelook .articleWrap .articleText h3 {
  background-color: #f8f8f8;
  padding: 1rem;
  color: #595959;
  line-height: 2em;
  font-size: 1rem;
  margin-bottom: 1rem;
}
#articlelook .articleWrap .articleText p {
  font-size: 1rem;
  line-height: 2em;
  color: #959595;
}

@media (min-width: 768px) {
  #articlelook .articleWrap {
    width: 60%;
  }
  #articlelook .articleWrap .articleTitle p {
    text-align: center;
  }
}
/* AdminMemberSettingView ----------------------------------------------------------------------------------------------------- */
#MemberSetting h1 {
  font-size: 2rem;
  text-align: left;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #595959;
}
#MemberSetting h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: #595959;
  top: 90%;
  left: 0;
}
#MemberSetting .bg-del {
  background-color: #C66A64;
  color: #fff;
}
#MemberSetting .bg-del:hover {
  background-color: #EE837C;
}
#MemberSetting .bg-check {
  background-color: #2473cb;
  color: #fff;
}
#MemberSetting .bg-check:hover {
  background-color: #2C8DF9;
}
#MemberSetting .n-pagination .n-pagination-item:not(.n-pagination-item--disabled).n-pagination-item--active {
  color: #64C1C6;
  border: 1px solid #64C1C6;
}

/* _AdminReserveSettingView ----------------------------------------------------------------------------------------------------- */
#AdminReserveSetting h1 {
  font-size: 2rem;
  text-align: left;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #595959;
}
#AdminReserveSetting h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: #595959;
  top: 90%;
  left: 0;
}
#AdminReserveSetting .bg-del {
  background-color: #C66A64;
  color: #fff;
}
#AdminReserveSetting .bg-del:hover {
  background-color: #EE837C;
}
#AdminReserveSetting .bg-editor {
  background-color: #64C1C6;
  color: #fff;
}
#AdminReserveSetting .bg-editor:hover {
  background-color: rgb(125, 203, 207);
}
#AdminReserveSetting .n-pagination .n-pagination-item:not(.n-pagination-item--disabled).n-pagination-item--active {
  color: #64C1C6;
  border: 1px solid #64C1C6;
}

.saveBtnRes {
  background-color: #64C1C6;
  color: #fff;
  border: none;
  font-size: 1rem;
  border: 1px solid #64C1C6;
  border-radius: 5%;
  padding: 0.5rem 1rem;
}
.saveBtnRes:hover {
  background-color: rgb(125, 203, 207);
  cursor: pointer;
}

/* MemberCheckReseverView ------------------------------------------------------------------------------ */
#ReseversSetting h1 {
  font-size: 2rem;
  text-align: left;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #595959;
}
#ReseversSetting h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: #595959;
  top: 90%;
  left: 0;
}
#ReseversSetting .bg-check {
  background-color: #2473cb;
  color: #fff;
}
#ReseversSetting .bg-check:hover {
  background-color: #2C8DF9;
}