/* AdminHomeSettingView ----------------------------------------------------------------------------------------------------- */

#HomeSetting{
  .bannerFormContent{
    .editorButton{
      display: flex;
      justify-content: flex-end;
      a{
        text-align: none;
        .create_btn{
          background-color: $main;
          color: $text;
          border: none;
          font-size: 1rem;
          border: 1px solid $main;
          border-radius: 5%;
          padding: 0.5rem 1rem;
          &:hover{
            background-color: rgba(125, 203, 207, 1);
            cursor: pointer;
          }
        }
      }
    }
  }
}

.saveBtn{
  background-color: $main;
  color: $text;
  border: none;
  font-size: 1rem;
  border: 1px solid $main;
  border-radius: 5%;
  padding: 0.5rem 1rem;
    &:hover{
    background-color: rgba(125, 203, 207, 1);
    cursor: pointer;
  }
}