/* AdminArticleEditorSettingView ------------------------------------------------------------------------------ */

#ArticleEditor{
  h1{
    font-size: 2rem;
    text-align: left;
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    color: $title;
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: .1rem;
      background-color: $title;
      top: 90%;
      left: 0;
    }
  }
  .articleForm{
    margin: auto;
    .submitButton{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      a{
        text-decoration: none;
        button{
          background-color: $main;
          color: $text;
          border: none;
          font-size: 1rem;
          border: 1px solid $main;
          border-radius: 5%;
          padding: 0.5rem 1rem;
          &:hover{
            background-color: rgb(85, 138, 141);
            color: $text;
            cursor: pointer;
          }
        }
      }
    }
  }
}

