/* AdminLayout -------------------------------------------------------------------------------------------- */
#adminContent{
  display: flex;
  .adminRight{
    display: flex;
    flex-direction: column;
    width: 85%;
    float: right;
    .avatarList{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 3rem;
      .avatarText{
        margin-right: 1rem;
      }
    }
    .adminWrap{
      .adminSection{
        width: 90%;
        margin: auto;
        margin-top: 3rem;
      }
    }
  }
  .adminMiddle{
    width: 15%;
  }
  .adminLeft{
    background-color: $main;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      h1{
        a{
          display:block;
          background: url('../../assets/LOGO_S.png');
            width: 200px;
            height: 41px;
            text-indent: 101%;
            white-space: nowrap;
            overflow: hidden;
        }
      }
    }
  }
  .n-menu .n-menu-item-content:not(.n-menu-item-content--disabled).n-menu-item-content--selected:hover::before{
    background-color: rgb(92, 157, 161);
  }
  .n-menu .n-menu-item-content:not(.n-menu-item-content--disabled).n-menu-item-content--selected:hover .n-menu-item-content-header a{
    color: $text;
  }
  .n-menu {
  text-align: center;
  .n-menu-item-content{
    margin-top: 2rem;
    .n-menu-item-content-header{
      a{
        color: $text;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 0.1em;
      }
    }
    &:not(.n-menu-item-content--disabled){
      &:hover{
        .n-menu-item-content-header{
          a{
            color: $text;
          }
        }
        &::before{
          background-color: rgb(92, 157, 161);
          cursor: pointer;
          
        }
      }
    }
  }
}
  
}



// @include xl{
//   #adminContent{
//     .adminRight{
//       width: 85%;
//       .avatarList{
//         padding-right: 3rem;
//       }

//     }
//     .adminLeft{
//       width: 15%;

//     }
//   }
// }