/* _ArticleView ------------------------------------------------------------------------------ */

#articleHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  flex-direction: column;
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
      font-size: 2.2rem;
      color: $title;
      position: relative;
      margin-bottom: 1rem;
      &::after{
        content: '';
        width: 3rem;
        height: 0.1rem;
        background-color: $title;
        position: absolute;
        bottom: -0.5rem;
        right: 50%;
        transform: translateX(50%);
        } 
      }
      h3{
        font-size: 1.3rem;
        color: $content;
        margin-bottom: 1rem;
        }
  }
}

#articleContent{
  .article_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    .n-card{
      width: 80%;
      // background-color: lightblue;
      margin-bottom: 2rem;
      border-bottom: 1px solid $content;
      padding-bottom: 1rem;
      .n-card__content{
        padding: 0;
        h2{
          margin: 1rem 0;
          font-size: 1.3rem;
          color: $title;
        }
        h3{
          color: $content;
          margin-bottom: 1rem;
        }
        p{
          color: $content;
          font-size: 1rem;
        }
        .article_btn{
          margin: 1rem 0;
          a{
            text-decoration: none;
          }
        }
      }
    }
  }
}

@include md{
  #articleContent{
    .article_card{
      .n-card{
        display: flex;
        flex-direction: row;
        justify-content: center;
        &:nth-child(even){
          flex-direction: row-reverse;
        }
        .n-card-cover{
          width: 50%;
        }
        .n-card__content{
          width: 50%;
          margin: 0 1rem;
          h2{
            margin-top: 0;

          }
        }
      }
    }
  }
}

@include xl{
  #articleContent{
    .article_card{
      .n-card{
        width: 100%;
      }
    }
  }
}