/* _ArticleView ------------------------------------------------------------------------------ */

#articleHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  flex-direction: column;
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
      font-size: 2.2rem;
      color: $title;
      position: relative;
      margin-bottom: 1rem;
      &::after{
        content: '';
        width: 3rem;
        height: 0.1rem;
        background-color: $title;
        position: absolute;
        bottom: -0.5rem;
        right: 50%;
        transform: translateX(50%);
        } 
      }
      h3{
        font-size: 1.3rem;
        color: $content;
        margin-bottom: 1rem;
        }
  }
}

#articleContent{
  .article_row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    .n-card{
      width: 80%;
      margin-bottom: 2rem;
      display: flex;
      justify-content: flex-start;
      .n-card__content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        h2{
          margin: 1rem 0;
          font-size: 1.4rem;
        }
        p{
          max-width: 100%;
          font-size: 1rem;
        }
        .article_btn{
          margin: 1rem 0;
          text-align: right;
        }
      }
    }
  }
}

@include md{
  #articleContent{
    .article_row{
      .n-card{
        width: 60%;
      }
    }

  }
}

@include xl{
  #articleContent{
    .article_row{
      .n-card{
        width: 50%;
      }
    }

  }
}

// #articleContent{
//   margin: 2rem 0;
//   .content{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     margin-bottom: 2rem;
//     .header{
//       width: 80%;

//     }
//     .body{
//       width: 80%;

//       .n-ellipsis{
//         max-width: 20rem;
//       }
//       .article_btn{
//         margin-top: 1rem;
//       }
//     }
//   }
// }

// @include md{
//   #articleContent{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     .content{
//       .header{
//         width: 90%;
//       }
//       .body{
//         width: 90%;
//         .n-ellipsis{
//           max-width: 40rem;
//         }
//         .article_btn{
//           margin-top: 1rem;
//           text-align: right;
//         }
//       }
//     }
//   }
// }

// @include xl{
//   #articleContent{
//     .content{
//       .body{
//         .n-ellipsis{
//           max-width: 60rem;
//           line-clamp: "2";
//         }
//       }
//     }
//   }

// }
