/* FrontLayout ----------------------------------------------------------------------------------------------------- */

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  h1{
  a{
    display:block;
    background: url('../../assets/LOGO_S.png');
      width: 200px;
      height: 41px;
      text-indent: 101%;
      white-space: nowrap;
      overflow: hidden;
  }
}
.menu{
  display: flex;
  margin-right: 1rem;
  .small-menu{
    margin-top: auto;
    display: flex;
    h2{
      font-size: 1.2rem;
      color: $content !important;
      margin-right: 0.5rem;
    }
    .hamburger{
      font-size: 1.5rem;
      color: $content !important;
      &:hover{
      color: $main !important;
      }
    }
  }
  .big-menu{
    display: none;
  }
  .log_res_btn{
    display: flex;
    align-items: center;
    width: 60%;
  }
}

}
.n-dropdown-menu{
  .n-dropdown-option{
    a{
      color:$content;
      &:hover{
        color: $main;
        border-bottom: 0.1rem solid $main;
      }
    }
  }
}
.n-card__content{
  .n-form{
    .n-row{
      .n-col{
        .res_btn{
          background-color: $main;
          color: $text;
          border: none;
          font-size: 1rem;
          border: 1px solid $main;
          border-radius: 5%;
          padding: 0.5rem 1rem;
          &:hover{
            background-color: rgba(125, 203, 207, 1);
            cursor: pointer;
          }
        }
      }
    }
  }
}
.n-card__footer{
  a{
    font-size: 1rem;
    color: $main;
  }
}

.n-popover__content{
  ul{
    list-style: none;
    li{
      margin-bottom: 0.5rem;
      a{
        text-decoration: none;
        font-size: 1rem;
        display: block;
        width: 100%;
        color:$content;
        padding-top: 0.5rem;
        &:hover{
          border-bottom: 0.1rem solid $main;
          color: $main;
          background-color: rgb(243, 243, 245);
        }
      }
      &:last-child{
        text-align: center;
        margin-top: 1rem;
      }
    }
    
  }
  
}

#footer1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  .now{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
    font-size: 2.2rem;
    color: $title;
    position: relative;
    margin-bottom: 1rem;
      &::after{
      content: '';
      width: 3rem;
      height: 0.1rem;
      background-color: $title;
      position: absolute;
      bottom: -0.5rem;
      right: 50%;
      transform: translateX(50%);
      } 
    }
    h3{
    font-size: 1.3rem;
    color: $content;
    margin-bottom: 1rem;
    }
    a{
    text-decoration: none;
    color: $text;
    display: block;
    }
  }
}
#footer2{
  .contact{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    .tel{
      line-height: 2em;
      color: $content;
      font-size: 1rem;
      i{
        margin-right: 0.2rem;
        color: $title;
      }
    }
  }
}

  .n-icon{
    margin-right: 0.2rem;
  }

#footer3{
  .copyright{
    text-align: center;
    color: $text;
    padding: 1rem 0;
    font-size: 1rem;
  }
}
  .n-back-top .n-base-icon{
    color: $title;
  }
  .n-back-top:hover .n-base-icon{
    color: $main;
  }



@include md{
  #footer2{
    .contact{
      flex-direction: row;
      justify-content: space-around;
      .tel{
        display: flex;
        justify-content: space-around;
        width: 50%;
      }
      .f-logo{
        width: 50%;

      }
    }
  }
}

@include xl {
  #header{
    .menu{
      width: 50%;
      justify-content: flex-end;
      .small-menu{
        display: none;
      }
      .big-menu{
        display: block;
        .n-menu{
          a{
            color: $content;
            &:hover{
              color: $main;
              border-bottom: 0.3rem solid $main;
            }
          }
        }
      }
      .log_res_btn{
        display: flex;
        align-items: center;
        width: 10%;
        justify-content: center;
      }
    }
  }
  #footer2{
    .contact{
      width: 80%;
      .tel{
        justify-content: center;
        p{
          margin-right: 1rem;
        }
      }
    }
  }
}

